################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASP.NET Core/Final Demo/Resume Builder/Resume Builder/BL/Services/BulkResumeGenerationService.cs
