body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b8b5b5;
}

#container {
    max-width: 800px;
    width: 750px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-item {
    display: flex;
    align-items: center;
}

.movie-poster {
    width: 40px;
    height: 60px;
    margin-right: 10px;
}

.movie-title {
    font-weight: bold;
}