<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="${currentdir}\logs\internallog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="NLog.Targets.MySql" />
	</extensions>

	<targets>

		<!-- File targets for different log levels -->
		<target name="tracefile" xsi:type="File"
                fileName="${currentdir}\logs\Trace_${date:format=yyyy/MM/dd}.txt"
                layout="${longdate} | ${level:uppercase=true}| ${logger} | ${message} ${exception:format=tostring}"
                createDirs="true" />
		<target name="debugfile" xsi:type="File"
                fileName="${currentdir}\logs\Debug_${date:format=yyyy/MM/dd}.txt"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
                createDirs="true" />
		<target name="infofile" xsi:type="File"
                fileName="${currentdir}\logs\Info_${date:format=yyyy/MM/dd}.txt"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
                createDirs="true" />
		<target name="warnfile" xsi:type="File"
                fileName="${currentdir}\logs\Warn_${date:format=yyyy/MM/dd}.txt"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
                createDirs="true" />
		<target name="errorfile" xsi:type="File"
                fileName="${currentdir}\logs\Error_${date:format=yyyy/MM/dd}.txt"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
                createDirs="true" />
		<target name="criticalfile" xsi:type="File"
                fileName="${currentdir}\logs\Critical_${date:format=yyyy/MM/dd}.txt"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
                createDirs="true" />
		
		<target xsi:type="Database"
			name="dbTarget"
			connectionString="server=localhost;Database=nlog;user id=Admin;password=gs@123"
			dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
			commandText="INSERT INTO nlog.Logs(CreatedOn,Message,Level,Exception,StackTrace,Logger,Url) VALUES (@datetime,@msg,@level,@exception,@trace,@logger,@url)">
			
			<parameter name="@datetime" layout="${date}" />
			<parameter name="@msg" layout="${message}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@exception" layout="${exception}" />
			<parameter name="@trace" layout="${stacktrace}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@url" layout="${aspnet-request-url}" />
		
		</target>

	</targets>

	<rules>
		
		<!-- Log messages to respective files based on log levels -->
		<logger name="*" levels="Trace" writeTo="tracefile" />
		<logger name="*" levels="Debug" writeTo="debugfile" />
		<logger name="*" levels="Info" writeTo="infofile" />
		<logger name="*" levels="Warn" writeTo="warnfile" />
		<logger name="*" levels="Error" writeTo="errorfile" />
		<logger name="*" levels="Fatal" writeTo="criticalfile" />

		<!-- Log all levels to the Console -->
		<logger name="*" minlevel="Trace" writeTo="Console" />
		
		<!-- Log all levels to the Database -->
		<logger name="*" minlevel="Warn" writeTo="dbTarget" />
	</rules>

</nlog>
