
@{
    ViewBag.Title = "Dashboard";
}

<div class="col-md-2 col-lg-2 d-md-block bg-light sidebar mt-3">
    @Html.Partial("_Sidebar")
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-10 ms-sm-auto col-lg-10">
            <h2 class="mt-4">Welcome to the Admin Dashboard!</h2>

            <div class="row mt-4">
                <div class="col-md-4 mt-2">
                    <div class="card" style="background: linear-gradient(to right, #ff9a9e, #fad0c4);">
                        <div class="card-header">
                            Card 1
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is some card content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-2">
                    <div class="card" style="background: linear-gradient(to right, #a18cd1, #fbc2eb);">
                        <div class="card-header">
                            Card 2
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is some more card content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-2">
                    <div class="card" style="background: linear-gradient(to right, #84fab0, #8fd3f4);">
                        <div class="card-header">
                            Card 3
                        </div>
                        <div class="card-body">
                            <p class="card-text">Yet another card content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="card" style="background: linear-gradient(to right, #ff9a9e, #fad0c4);">
                        <div class="card-header">
                            Card 1
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is some card content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-2">
                    <div class="card" style="background: linear-gradient(to right, #a18cd1, #fbc2eb);">
                        <div class="card-header">
                            Card 2
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is some more card content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-2">
                    <div class="card" style="background: linear-gradient(to right, #84fab0, #8fd3f4);">
                        <div class="card-header">
                            Card 3
                        </div>
                        <div class="card-body">
                            <p class="card-text">Yet another card content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="card" style="background: linear-gradient(to right, #ff9a9e, #fad0c4);">
                        <div class="card-header">
                            Card 1
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is some card content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-2">
                    <div class="card" style="background: linear-gradient(to right, #a18cd1, #fbc2eb);">
                        <div class="card-header">
                            Card 2
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is some more card content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-2">
                    <div class="card" style="background: linear-gradient(to right, #84fab0, #8fd3f4);">
                        <div class="card-header">
                            Card 3
                        </div>
                        <div class="card-body">
                            <p class="card-text">Yet another card content.</p>
                        </div>
                    </div>
                </div>

                <!-- Add more cards as needed -->

            </div>
        </div>
    </div>
</div>
