<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="${currentdir}\logs\internallog.txt">

	<targets>
		<target name="logfile" xsi:type="File"
				autoReload="true"
				fileName="${currentdir}\logs\${date:format=yyyy/MM/dd}.txt"
				layout="${longdate} ${message}"/>

		<target xsi:type="Console" name="console"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" maxlevel="Trace"  writeTo="logfile" />

		<!-- Log messages of Debug level and higher to console -->
		<logger name="*" minlevel="Debug" writeTo="console" />
	</rules>
</nlog>